@font-face {
  font-family: 'fontawesome';
  src:  url('fonts/fontawesome.eot?ri5lqe');
  src:  url('fonts/fontawesome.eot?ri5lqe#iefix') format('embedded-opentype'),
    url('fonts/fontawesome.ttf?ri5lqe') format('truetype'),
    url('fonts/fontawesome.woff?ri5lqe') format('woff'),
    url('fonts/fontawesome.svg?ri5lqe#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-uniF007:before {
  content: "\f007";
}
.fa-uniF011:before {
  content: "\f011";
}
.fa-uniF013:before {
  content: "\f013";
}
.fa-uniF044:before {
  content: "\f044";
}
.fa-uniF07C:before {
  content: "\f07c";
}
.fa-uniF085:before {
  content: "\f085";
}
.fa-uniF08B:before {
  content: "\f08b";
}
.fa-uniF090:before {
  content: "\f090";
}
.fa-uniF099:before {
  content: "\f099";
}
.fa-uniF09A:before {
  content: "\f09a";
}
.fa-uniF0AC:before {
  content: "\f0ac";
}
.fa-uniF0C0:before {
  content: "\f0c0";
}
.fa-uniF0E0:before {
  content: "\f0e0";
}
.fa-uniF0ED:before {
  content: "\f0ed";
}
.fa-uniF0EE:before {
  content: "\f0ee";
}
.fa-uniF118:before {
  content: "\f118";
}
.fa-uniF119:before {
  content: "\f119";
}
.fa-uniF130:before {
  content: "\f130";
}
.fa-uniF131:before {
  content: "\f131";
}
.fa-uniF137:before {
  content: "\f137";
}
.fa-uniF138:before {
  content: "\f138";
}
.fa-uniF139:before {
  content: "\f139";
}
.fa-uniF13A:before {
  content: "\f13a";
}
.fa-uniF14B:before {
  content: "\f14b";
}
.fa-uniF15C:before {
  content: "\f15c";
}
.fa-uniF166:before {
  content: "\f166";
}
.fa-uniF167:before {
  content: "\f167";
}
.fa-uniF17A:before {
  content: "\f17a";
}
.fa-uniF19D:before {
  content: "\f19d";
}
.fa-uniF1F0:before {
  content: "\f1f0";
}
.fa-uniF1F1:before {
  content: "\f1f1";
}
.fa-uniF1F4:before {
  content: "\f1f4";
}
.fa-uniF200:before {
  content: "\f200";
}
.fa-uniF02D:before {
  content: "\f02d";
}
.fa-uniF073:before {
  content: "\f073";
}
.fa-qrcode:before {
  content: "\e938";
}
.fa-cart:before {
  content: "\e93a";
}
.fa-bin:before {
  content: "\e9ac";
}
